@import 'variables';
@import 'title-and-legend';
@import 'tooltip';

/* MAIN */
body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  font-family: $main-font;
}

.tile { 
  stroke: white; 
  
  &:hover {
    cursor: pointer;
  }
}

.tileText { font-size: $font-size-tile; }