@import "variables";
@import "title-and-legend";
@import "tooltip";

/* MAIN */
// body {
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   margin: 0;
//   overflow: hidden;
//   font-family: $main-font;
// }

@mixin positioning($position) {
  top: $position;
  left: $position;
  -moz-transform: translateX(-$position) translateY(-$position);
  -webkit-transform: translateX(-$position) translateY(-$position);
  transform: translateX(-$position) translateY(-$position);
}

svg {
  position: absolute;
  @include positioning(50%);
}

.graph {
  width: 95%;
  font-family: $main-font;
  margin: 0 auto;
  background-color: white;
}

.tile {
  stroke: white;

  &:hover {
    cursor: pointer;
  }
}

.tileText {
  font-size: $font-size-tile;
}
